<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
					"http://mybatis.org/dtd/mybatis-3-config.dtd">
					
<configuration>
	<!-- Alias of Type -->
	<typeAliases>
			<typeAlias alias="cats" type="com.demo.spring.entity.Cats"/>
			<typeAlias alias="species" type="com.demo.spring.entity.Species"/>
			<typeAlias alias="stores" type="com.demo.spring.entity.Stores"/>
	</typeAliases>
	
</configuration>